@page "/"

<PageTitle>Index</PageTitle>

<h1>Blazor Demo!</h1>

This is a Demo App - Enjoy
<PalindromeTester> </PalindromeTester>
<!--<SurveyPrompt Title="How is Blazor working for you?" />-->
